@{
    ViewBag.Title = "SLSBS Membership";
}

<div class="jumbotron">
    <h1>SLSBS Membership Management</h1>
    <p class="lead">Manages the membership details and sends notices to members</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Buddhist Society</h2>
        <p><input type="button" value="View" onclick="location.href='@Url.Action("Index", "Memberships")'" class="btn btn-primary"/></p>
    </div>
    <div class="col-md-6">
        <h2>Dhamma School</h2>
        <p>
        <p><input type="button" value="View" onclick="location.href='@Url.Action("Index", "Children")'" class="btn btn-primary" /></p>
        </p>
    </div>
</div>