@{
    ViewBag.Title = "SLBS Membership";
}

<div class="jumbotron">
    <h1>SLBS Membership Management</h1>
    <p class="lead">Manages the sending of membership subscription notifications</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Load the membership excel</h2>
        <p>
           Please upload the latest version of the SLBS membership excel.
        </p>
        <p><input type="button" value="Load" onclick="location.href='@Url.Action("Index", "Member")'" class="btn btn-primary"/></p>
    </div>
    <div class="col-md-6">
        <h2>View sent emails</h2>
        <p>
            To be built
        </p>
    </div>
</div>