################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/docs/Templates/PayStatus.xlsx
/docs
