@using SLBS.Membership.Web.Models
@model NoticeViewModel

@{
    ViewBag.Title = "SLSBS Notices Page";
}

<h2>SLSBS Notices Page</h2>

<h3>You are about to send a notice to following members</h3>

<div class="row">
    <div class="col-md-6">
        <div id="progressbar" style="display: none">
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>

 
</div>


@{
    Html.RenderPartial("_Members",Model.Receipients);
}


@Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-4">
        @Html.DropDownList("NoticeType", EnumHelper.GetSelectList(typeof (EnumNoticeTypes), EnumNoticeTypes.PaymentStatus), "Please select")
    </div>

    <div class="col-md-4">
        <h3 class="pull-right text-success" id="userMessage"></h3>
        <span class="pull-right text-danger" id="errorMessage"></span>
    </div>

    <div class="col-md-4">
        <span class="pull-right">
            @*<a href="#" onclick="showMailPage()" class="btn btn-primary">View Notice</a>*@
            <a href="#" onclick="sendMail()" class="btn btn-primary">Send</a>
        </span>
     
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        
    </div>
</div>

<script>

    function addAntiForgeryToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    function sendMail() {
        var url = '@Url.Action("Send")';

        var param = { noticeType: $("#noticeType").val()};

        $("#progressbar").show();
        $(".btn").addClass('disabled');

        $.ajax({
            url: url,
            type: 'POST',
            data: param,
            dataType: "json"
        }).done(function(data) {
            $("#progressbar").hide();
            showSuccess(data.sentCount + " email(s) sent successfully");
        }).fail(function(error) {
            console.error("error occured " + error);
            showError("Email sending failed");
        }).always(function() {
            $("#progressbar").hide();
            $(".btn").removeClass('disabled');
        });
    }

    function showMailPage() {
        
    }

    function showSuccess(message) {
        $("#userMessage").html(message);
    }

    function showError(message) {
        $("#errorMessage").html(message);
    }
</script>

